.ChatComponent {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100%;
}

.ChatContainer {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.ChatInfoSideBarContainer {
	width: 30%;
}
