.MessageAreaContainer {
	background-color: rgb(24, 0, 44);
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: none;
}

.MessageAreaContainer::-webkit-scrollbar {
	display: none;
}

.MessageWrapper {
	align-items: center;
	color: aliceblue;
	display: flex;
	flex-direction: row;
	gap: 10px;
	overflow-wrap: break-word;
	padding: 5px 10px;
	width: 100%;
}
.MessageWrapper--Left {
	justify-content: flex-start;
}
.MessageWrapper--Right {
	justify-content: flex-end;
}
.MessageWrapper--Center {
	justify-content: center;
}

.MessageWrapper__Message {
	border-radius: 5px;
	font-size: 0.9rem;
	padding: 8px;
	max-width: 40%;
}
.MessageWrapper__Message--Left {
	background: rgb(0, 225, 255);
	color: #000;
}
.MessageWrapper__Message--Right {
	background: rgb(186, 255, 76);
	color: #000;
	order: 2;
}
.MessageWrapper__Message--Center {
	background: rgba(255, 255, 255, 0.671);
	color: #000;
}

.MessageWrapper__Sender {
	font-size: 0.7rem;
	font-weight: bold;
}

.ScrollToBottom {
	margin-bottom: 5px;
}
